{% extends "base.html" %}

{% block title %}alexeibastidas - about this site{% endblock %}

{% block page_content %}
<div class="page-header">
  <p>site built using <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://getbootstrap.com/">Bootstrap</a>,
  <a href="https://pythonhosted.org/Flask-SQLAlchemy/">Flask-SQLAlchemy</a>.<br><br>
  many thanks to <a href="http://miguelgrinberg.com/">miguel grinberg</a>, <a href="http://charlesleifer.com/">chares leifer</a>,
  <a href="http://www.reddit.com/r/flask">the flask subreddit</a> and all the other flask enthusiasts that have shared their knowledge</p>
<br><br><p>
source code available on github, at <a href=""></a></p>
</div>
{% endblock %}
